/*** VARIABLES *****************************************************/

// COLORS

// "clean" c64 colors from https://www.c64-wiki.com/wiki/Color
// "real" c64 colors from http://unusedino.de/ec64/technical/misc/vic656x/colors/
$color__black: #000000;
$color__white: #ffffff;
$color__red: #68372B; // #880000;
$color__cyan: #70A4B2; // #aaffee;
$color__purple: #6F3D86; // #cc44cc;
$color__green: #588D43; // #00cc55;
$color__blue: #352879; // #0000aa;
$color__yellow: #B8C76F; // #eeee77;
$color__orange: #6F4F25; // #dd8855;
$color__brown: #433900; // #664400;
$color__red--light: #9A6759; // #ff7777;
$color__grey--dark: #444444; // #333333;
$color__grey: #6C6C6C; // #777777;
$color__green--light: #9AD284; // #aaff66;
$color__blue--light: #6C5EB5; // #0088ff;
$color__grey--light: #959595; // #bbbbbb;


// FONTS
$font__family--sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font__family--serif: Georgia, Cambria, "Times New Roman", Times, serif;
$font__family--mono: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;


// SPACING
$spacing__md: 1.6rem,


// CSS PROPERTIES
// :root {

// }